.car-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  width: 200px;
}

.car-card:hover {
  transform: scale(1.05);
}

.tag-offer {
  background-color: #ff5733;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}
